<!DOCTYPE html>
<html lang="{{@site.locale}}" class="h-full antialiased dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{meta_title}}</title>
  <link rel="stylesheet" href="{{asset "built/screen.css"}}">
  {{ghost_head}}
</head>

<body class="{{body_class}} flex h-full bg-white dark:bg-primary-dark antialiased">
  <div class="flex w-full">
    <div class="relative flex w-full flex-col">
      {{> header}}
      <main class="flex-auto">
        {{{body}}}
      </main>
      {{> footer}}
    </div>
  </div>

  {{{block "scripts"}}}

  {{ghost_foot}}
</body>
</html>
