<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{meta_title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{asset "built/screen.css"}}">

  {{ghost_head}}
</head>

<body class="{{body_class}} bg-br-red text-white font-inter antialiased">
<div class="relative mx-auto max-w-md md:max-w-7xl">
  <div class="site flex flex-col min-h-screen lg:flex-row lg:items-top p-8 lg:p-16">
    <div class="site-content">
      <div class="intro-text font-light">
        {{#get "posts" limit="all" filter="tags:dynamic-home-intro"}}
          {{#foreach posts}}
            {{{content}}}
          {{/foreach}}
        {{/get}}
      </div>
      <div class="more-info pt-6 md:pt-16">
        <div class="flex flex-col lg:flex-row gap-x-4">
          <div class="basis-1/3">
            {{#get "posts" limit="all" filter="tags:dynamic-home-profile"}}
              {{#foreach posts}}
                <div class="flex flex-row">
                  <div class="basis-10/12">
                    <div class="rounded-full overflow-hidden">
                      {{{content}}}
                    </div>
                  </div>
                </div>
              {{/foreach}}
            {{/get}}
            <div class="pt-2 md:pt-4">
              <h3 class="font-bold text-white text-3xl">{{@site.title}}</h3>
            </div>
          </div>
          <div class="basis-1/3 font-bitter font-normal italic text-lg pt-4 md:pt-0 lg:pt-0">
            {{#get "posts" limit="all" filter="tags:dynamic-bio-column-one"}}
              {{#foreach posts}}
                {{{content}}}
              {{/foreach}}
            {{/get}}
          </div>
          <div class="basis-1/3 font-bitter font-light italic text-lg">
            {{#get "posts" limit="all" filter="tags:dynamic-bio-column-two"}}
              {{#foreach posts}}
                {{{content}}}
              {{/foreach}}
            {{/get}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
</script>

{{{block "scripts"}}}

{{ghost_foot}}
</body>
</html>