{{!< default}}

<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="xl:relative">
          <div class="mx-auto max-w-2xl">

            {{>"components/utilities/back-button"}}

            {{#post}}
              <article class="{{post_class}}">

                <header class="flex flex-col">
                  <h1 class="mt-6 text-4xl font-bold text-zinc-800 sm:text-5xl dark:text-zinc-100">{{title}}</h1>
                  <time datetime="{{date format='YYYY-MM-DD'}}" class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500">
                    <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                    <span class="ml-3">{{date format="DD MMMM YYYY"}}</span>
                  </time>
                </header>

                {{#if custom_excerpt}}
                  <div class="post-excerpt container medium">{{custom_excerpt}}</div>
                {{/if}}

                {{#if feature_image}}
                  <div class="my-8">
                    <img class="rounded-xl" srcset="{{> srcset}}"
                         sizes="(min-width: 1170px) 1140px, (min-width: 780px) 750px, calc(100vw - 30px)"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         alt="{{title}}">
                  </div>
                {{/if}}

                <div class="mt-8 prose dark:prose-invert">
                  {{content}}
                </div>

              </article>

              {{> related}}

            {{/post}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
